.header {
    padding: 0 20rem;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    background-color: white;
    border-bottom: 0.5px solid lightgray;
}

.logo {
    font-family: 'Satisfy', cursive;
    font-size: 2rem;
}

.search {
    width: 14rem;
    height: 1.7rem;
    text-align: center;
    border: 0.5px solid lightgray;
    background: rgb(250, 250, 250);
}
