$color-alabaster: #fafafa;
$color-alto: #d4d4d4;
$color-azure-radiance: #00a2ff;
$color-gray: #808080;
$color-white: #ffffff;

$border-thin: 0.5px solid $color-alto;

$font-size-small: 14px;
$font-size-normal: 16px;
$font-size-big: 34px;

$font-satisfy: 'Satisfy', cursive;
$font-news-cycle: 'News Cycle', sans-serif;
